[submodule "libs/lvgl"]
	path = libs/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "libs/lodepng"]
	path = libs/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "libs/nanosvg"]
	path = libs/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "libs/json-c"]
	path = libs/json-c
	url = https://github.com/json-c/json-c.git
[submodule "libs/mxml"]
	path = libs/mxml
	url = https://github.com/michaelrsweet/mxml.git
