[submodule "libs/lvgl"]
	path = libs/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "libs/lodepng"]
	path = libs/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
