[submodule "libs/lvgl"]
	path = libs/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "libs/json-c"]
	path = libs/json-c
	url = https://github.com/json-c/json-c.git
[submodule "libs/libtsm"]
	path = libs/libtsm
	url = https://github.com/Aetf/libtsm.git
